/* Define custom root variables */
:root {
    --magenta-pink: #af4e65;
    --smoky-pink: #c78292;
}

/* Styling for bot's text */
.bot-text {
    color: black;
    text-align: left;
}

/* Container for the chatbot component */
.chatbot {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: flex-end;
}

/* Styling for the send button in the chatbot */
.chatbot-sendbutton {
    background-color: var(--magenta-pink);
    border: none;
    box-shadow: 0 0 0 2px var(--magenta-pink);
    color: white;
    height: 10%;
}

/* Container for chat messages */
#chat-area {
    box-shadow: 0 0 0 2px var(--magenta-pink);
    height: 80%;
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
}

/* Styling for the chatbot toggle button */
#chatbot-button {
    background-color: white;
    border: none;
    box-shadow: 0 0 0 2px var(--magenta-pink);
    color: var(--magenta-pink);
    height: 10%;
    width: 100%;
}

/* Container for chatbot content */
#chatbot-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Styling for the text area input */
.text-area {
    border: none;
    box-shadow: 0 0 0 2px var(--magenta-pink);
    height: 20%;
    outline: 0 none;
    padding: 5px;
    width: 100%;
}

/* Styling for user's text */
.user-text {
    color: var(--magenta-pink);
    text-align: right;
}
